#pageheader {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h1 {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    background-color: hsl(177, 39%, 48%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px 20px 30px 20px;
    width: 175px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4aaaa5;
    font-size: xx-large;

}

nav {
    float: right;
    margin-top: 36px;
    padding-right: 25px;
    color: #777777;
}

body {
    background-image: url("../images/palm-leaf.png");
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

#content {
    width: 900px;
    padding: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #ffffff;
    line-height: 1.8;
}

.footer {
    position: fixed;
    height: 60px;
    left: 0;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: #4aaaa5 7px solid;
}

#footer-text {
    padding: 30px 0px 0px 0px;
}

a {
    color: #777777;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#invis-box {
    width: 100%;
    height: 100px;
}

/*media queries*/

@media screen and (max-width:980px) {
    h1 {
        position:relative;
        left: 48px;
    }
    #pageheader {
        width:100%;
    }
    #content {
        width:55%;
        margin-left: 48px;
    }

}

@media screen and (max-width:768px) {
    h1 {
        position: relative;
        left: 25px;

    }
    #pageheader {
        width:100%;
    }
    #content {
        width: 85%;
        margin: auto;
    }
    
}

@media screen and (max-width: 640px) {
    h1 {
        width: 100%;
        position: static;
    }
    nav {
        position: relative;
        bottom: 15px;
        width: 100%;
        padding: 0px;
        text-align: center;
    }
    
}